<p-drawer
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  appendTo="body">

  <ng-template pTemplate="header">
    <h3 class="slidebar-title">¡Bienvenido!</h3>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="slidebar-img-wrapper">
      <img
        src="https://storage.waifuwall.com/preview/1038.webp"
        alt="Logo"
        class="slidebar-img" />
    </div>

    <p-menu [model]="menuItems"></p-menu>
  </ng-template>

  <ng-template pTemplate="footer">
    <p class="slidebar-version">Version 6.0</p>
  </ng-template>

</p-drawer>